apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "token": "my-hcloud-token",
      "endpoint": "https://api.hetzner.cloud/v1",
      "poll_interval": "500ms",
      "poll_function": "exponential"
    }
